# Env files
backend/.env

# Build output
backend/dist/
frontend/dist/

# Node modules
node_modules/
frontend/node_modules/

# Uploads
backend/uploads/

# Logs
*.log

# IDE/editor junk
.vscode/
.DS_Store
